.list {
  column-count: 2;
  column-gap: 20px;
  padding: 0;
  list-style-type: none;
  max-width: 1010px;
}

.frame {
  break-inside: avoid-column;
  margin-bottom: 20px;
  margin-left: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
  display: grid;
  grid-template-areas:
    'item1 item2 item2'
    'item1 item3 item3'
    'item1 item4 item5'
    'item1 item6 item6';
}

.img-movie {
  width: 183px;
  height: 281px;
  background-size: cover;
  flex-shrink: 0;
  margin-right: 20px;
  grid-area: item1;
}

.header-text {
  font-family: 'Inter';
  font-size: 20px;
  line-height: 28px;
  color: #000000;
  margin: 0;
  grid-area: item2;
}

.date-text {
  font-family: 'Inter';
  font-size: 12px;
  line-height: 22px;
  color: #827e7e;
  grid-area: item3;
}

.btn-action,
.btn-drama {
  width: 46px;
  height: 20px;
  background: #fafafa;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  margin-right: 5px;
}

.description-text {
  font-family: 'Inter';
  font-size: 12px;
  line-height: 22px;
  color: #000000;
  overflow: scroll;
}

button {
  font-family: 'Inter';
  font-size: 12px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.65);
}


