*,
html,
body {
  font-family: Inter, sans-serif;
  padding: 0;
  box-sizing: border-box;
  max-width: 1000px;
  margin: 0 auto;
}

.main {
  background-color: rgb(255, 255, 255);
}

.ant-spin-spinning {
  position: absolute;
  top: 180%;
  left: 50%;
  display: inline-block;
  opacity: 1;
}

.ant-tabs-content-holder {
  width: 100%;
}
